# greylog input
GRAYLOG_TOKEN=''
GRAYLOG_URL='https://sip.hamiltoncaptel.com:9000'

# ollama 
OLLAMA_API_BASE=http://127.0.0.1:11434
OLLAMA_MODEL=qwen3:1.7b

# greylog output
#GRAYLOG_OUTPUT_STREAM=nick-ollama-out
#GRAYLOG_GELF_HTTP_URL=sip.hamiltoncaptel.com:12201/gelf
LOG_LEVEL=INFO

GRAYLOG_OUTPUT_METHOD=syslog_udp
GRAYLOG_SYSLOG_HOST=sip.hamiltoncaptel.com
GRAYLOG_SYSLOG_PORT=514
POST_OUTPUT_TO_GRAYLOG=true
